:root {
  --primary-color: #5EAE53;
  --secondary-color: #EB8E78;
  --component-background: #F7F7F7;
  --primary-text-color: #333333;
  --secondary-text-color: rgba(51, 51, 51, 0.50);
  --accent-color : #F6B76C;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-family: 'Work Sans', sans-serif, 'Caveat', cursive, 'DM Sans', sans-serif;
}

body {
  margin: 0 auto;
}

button {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

a {
  color : inherit;
  text-decoration: none;
}