.BadgeIndicator {
    background-color: var(--primary-color);
    height: 2em;
    aspect-ratio: 1;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8em;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;

}