.Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25%;
    padding: 2rem 4rem;
    margin-top: 4rem;
    background-color: var(--primary-color);
    font-family: DM Sans;
    color: white;
}

.Footer-infos {
    width: 50%;
    font-size: 0.9rem;
}

.Footer-social {
    text-align: center;
}

.Footer-social p {
    font-size: 1.1rem;
    font-weight: 600;
}

.Footer-social_logo-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.Footer-social_logo-container img {
    width: 40px;
    height: 40px;
}

.Footer-social_logo-container .instagram {
    border: 3.2px solid white;
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    height: 30px;

}