.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25%;
    background-color: var(--primary-color);
    color: white;
}

.Header h1, .Header .SearchBar {
    margin: 2rem 3rem;
}