.HomeSectionHeader {
    margin-bottom: 3rem;
}

.HomeSectionHeader-title {
    font-size: 2.6rem;
    margin: 0;
}

.HomeSectionHeader-description {
    font-size: 1rem;
    margin: 0;
    margin-top: 0.7rem;
    color: #6f6f6f;
    font-family: 'DM Sans', sans-serif;
}