.HomeSectionByTag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.HomeSectionByTag-container a {
    border-radius: 1rem;
    transition: box-shadow 0.3s ease;
}

.HomeSectionByTag-container a:hover {
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
}