.Hero {
    background-color: var(--primary-color);
    color : white;
    height: 100vh;
}

.Hero-content {
    display: flex;
    margin: 0 3em;
    padding: 2rem 0;
}

.Hero-text {
    text-align: left;
}

.Hero-text h1 {
    font-size: 3em;
}

.Hero-text h2 {
    font-family: 'Caveat', cursive;
    font-weight: 100;
    font-size: 2.5em;
    color: var(--accent-color);
}

