.HomeSectionByRestaurant-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.HomeSectionByRestaurant-container a {
    border-radius: 1rem;
    transition: box-shadow 0.3s ease;
}

.HomeSectionByRestaurant-container a:hover {
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
}