.HomeHeroHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
}

.HomeHeroHeader h1 {
    font-size: 3.2em;
    justify-self: left;
}