.MenuCard_card {
    background-color: var(--component-background);
    color: var(--primary-text-color);
    text-align: left;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.MenuCard_image-container {
    width: 45%;
    height: 100%;
}

.MenuCard_image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MenuCard_info {
    flex: 1;
    margin: 1.5rem;
}

.MenuCard_sub-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.MenuCard_card h2 {
    font-size: 1.3rem;
    margin: 0 0 5px 0;
    line-height: 1.2;
}

.MenuCard_card h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.95rem;
    margin-top: 0;
}

.MenuCard_card p {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    margin: 0;
}


.MenuCard_light-text {
    color: var(--secondary-text-color);
}