.Rating {
    display: flex;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.Rating-icon {
    width: 1.7rem;
    height: 1.7rem;
    justify-self: left;
    align-self: center;
    margin-left: 12%;
    margin-right: 15%;
}

.Rating p {
    color: white;
    align-self: center;
    letter-spacing: 1.5px;
    font-family: DM Sans;
}