.RestaurantCard {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--component-background);
    border-radius: 1rem;
    overflow: hidden;
    width: 270px;
    height: 310px;
}

.RestaurantCard-image-container {
    height: 80%;
    width: 100%;
}

.RestaurantCard-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.RestaurantCard-content {
    margin: 1rem;
}

.RestaurantCard-content_title {
    font-size: 1.5rem;
    margin: 0;
}

.RestaurantCard-content_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: DM Sans;
    font-size: 0.75rem;
}

.RestaurantCard-content_info--light {
    color: gray;
}