.RestaurantDetails {
    width: 65%;
    margin: 4rem auto;
}

.RestaurantDetails-header {
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.RestaurantDetails-imageContainer {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 0.8rem;
    overflow: hidden;
}

.RestaurantDetails-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.RestaurantDetails-infos {
    flex: 3;
}

.RestaurantDetails-infos p {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.RestaurantDetails-infos_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.RestaurantDetails-infos_title h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

.RestaurantDetails-flexContent {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.RestaurantDetails-Menu_title {
    font-size: 1.3rem;
    border-bottom: 1px solid var(--primary-color);
}

.RestaurantDetails-Menu_title h2 {
    margin: 1rem 0;
}

.RestaurantDetails-Menu_title img {
    width: 30px;
    height: auto;
}

.RestaurantDetails-infos_title .Rating {
    position: relative;
    top: 0;
    left: -2rem;
}

.RestaurantDetails-infos img {
    width: 20px;
    height: 20px;
}

.RestaurantDetails-MenuCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}