.SearchBar {
    display: flex;
    width: 30%;
    position: relative;
}

.SearchBar-input {
    font-size: 0.9rem;
    padding: 10px 0px 10px 40px;
    width: 100%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.SearchBar-button {
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: white;
    padding-right: 0.3rem;
}

.SearchBar-button img {
    width: 25px;
    height: auto;
}

.optional-icon {
    position: absolute;
    top: 25%;
    left: 10px;
}

.optional-icon img {
    width: 18px;
    height: auto;
}