.Tag-container {
    text-align: center;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
    width: 120px;
    padding: 0.3rem 0.7rem;
    border-radius: 7px;
    margin: 1rem 0;
}

.Tag-content {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    margin: 0;
}