.TagCard {
    background-color: var(--component-background);
    padding: 2em 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TagCard-imageContainer {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.TagCard-imageContainer img {
    width: 50px;
    height: 50px;
}

.TagCard-content {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

.TagCard-content h2,
.TagCard-content p {
    margin: 0;
    margin-top: 0.5rem;
    text-align: center;
}

.TagCard-content h2 {
    font-size: 1.2rem;
}